:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  #container {
    display: grid;
    grid-gap: 0px;
    grid-column-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    text-align: center;
  }